 html, body, p, h1, h2, h3, h4, h5, h6, #tdr_title_page_title {
  font-family: "proxima-nova" !important;
  }
  
  P {
      font-size: 16px !important;
      margin-bottom: 1.5em !important;
  }
  
  div#tdr_content_content, .breadcrumb {
      font-size: 16px !important;
  }
  
  
  h2.top {
      font-family: Roboto,sans-serif !important;
  }
  
  .sidebar img {
      margin-right: 15px;
  }