/***********************************
Copyright 2008-2009
The City University of New York
Office of University Relations
Office of Communications and Media
Eri Sahagun, Web Developer
web.cuny.edu
************************************/
/*** index/style.css ***/


#focus { width: 1000px; padding: 0px 0px 0px 0px; }

#wrap-focus, #wrap-top, #wrap-bottom, body { background-image: none; }


.body-index {
    padding: 0px 0 20px 0;
}

.home-tile { display:none; }

/*Social Media Icons - NOT IN USE*/

/*#social {
    width: 960px;
    display: block;
    clear: both;
    height: 20px;
    margin-bottom: 10px;
}    

#social-icons {
    float: right;
    width: 104px;
    display: block;    
}
*/

/*Welcome to CUNY Links - NOT IN USE*/

/*.home-menu {
    float:right;
    width: 267px;
    margin: 0px;
    padding: 0px 0px 0px 23px;
    height: 247px;
    background-color:#1e3a83;
	color:#dfdee4;
}

.auto-menu a, .home-menu a { display: inline; }

.home-menu a:hover, #menu a:hover { background-color: transparent; text-decoration: underline; }

#menu a { color:#dfdee4; }

.home-menu ul li {
    border-bottom: 0px;
    padding: 0 0 6px 0;
}

.home-menu h2 {
	color:#dfdee4;
    margin-top: 20px;
    margin-bottom: 15px;
}*/

.home-banner {
	float:none;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

/*Home Table*/

.ts-layout-home {
	clear:both;
	width: 960px;
	overflow: auto;
	padding-top: 35px;
	margin: 0 auto;
}

#col3 .event-college, #col2 p {
	color: #657076;
}

.ts-layout-home #col1 {
	width: 440px;
	padding: 0px 20px 0 0;
	float: left;
}

#col1 p, #col1 ul li {
	font-size: 8.5pt;
}

#trustees {
margin: 0 0 20px 0;
min-height: 108px;
}

.hp-modules-trustees-mod {
	margin: 10px 0px 0px 0px;
	overflow: auto;
}

/*Spotlight Rotation Table*/

.hp-mod1 {
	height: 184px;
	margin: 0px 0px 20px 0px;
	background-color: #dee2e5;
}

.mod1-text {
	float: right;
	width: 150px;
	padding: 0px 10px 0px 10px;
    margin-top: 10px;	
}

.hpmodulesmod1rtimg {
	width: 270px;
	height: 184px;
	display: block;
	float: left;
}

.hpmodulespocrtimg {
	width: 158px;
	height: 108px;
	display: block;
	float: left;
	margin: 0px 10px 15px 0px;
}

.hpmodulesmod1rtimg img, .hpmodulespocrtimg img { 
	max-width: 100%;
	height: auto;
	margin: 0px;
	float: none;
}

.ts-layout-home #col2 {
	width: 215px;
	padding: 0 20px 0 0;
	float: left;
}

/*Weather Notifications*/
#postid15031 { color: #ff6600; font-size: 11pt; }

.header {padding-bottom: 6px;}

.header, .header a {color: #1D3A83;}

.nw, .nw a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10pt;
    float: left;
    padding: 0;
    color: #1d3a83;
}

.header a:hover, .nw a:hover { color: #fff; background-color: #1D3A83; }

#col2 #newswire {
    margin-bottom: 0px;
    border-bottom: 1px solid #d6dbde;
}

#newswire a:hover {
    color: #fff;
    background-color: #005DAA;
}

#col2 #science, #col2 #podcasts {
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #d6dbde;
	padding-top: 10px;
}


#col2 h3 {
	margin: 0 0 7px 0;
	padding: 0;
}

#podcasts p {
    padding: 0 0 10px 0;
    margin: 0 0 0 0;
    border-style:none;
    border-width: 0 0 1px 0;
    border-color: #d6dbde;
}

.ts-layout-home #col3 {
	width: 265px;
	padding:0;
	float: right;
}

#chancellor {
	margin: 0 0 0px 0;
	min-height: 112px;
	font-size: 8.5pt;
	overflow: auto;
}

#col3 .event-item {
	margin: 0 0 0 0 ;
	padding: 10px 0 10px 0;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #d6dbde;
}

#col3 .top-event-item {
	margin: 0;
	padding: 0 0 10px 0;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #d6dbde;
}

#col3 .features p {color: #333;}

#col3 .features p .award {color: #657076;}

#col3 .features img {vertical-align: text-bottom;}

#col3 .event-item .event-date, .ts-layout-home #col3 .top-event-item .event-date {
	color: #657076;
	font-weight:normal;
}

.ts-layout-home #col3 p {
	font-size: 8.5pt;
	margin: 0 0 0 0;
	padding: 0;
}

.ts-layout-home #col3 p a.suffix {
	float:none;
}

.ts-layout-home p.more {
	padding: 0;
	margin: 0;
}

.ts-layout-home p.more a:link, 
.ts-layout-home p.more a:visited {
	color: #ff6600;
	text-decoration: none;
	font-size: 8.5pt;
}

.ts-layout-home p.more a:hover {
	color: #fff;
	background-color: #ff6600;
	text-decoration: none;
}

/*Images*/

.img-95-float-left {
	width: 96px;
	height: 112px;
    background-color: #999;
    float:left;
    margin: 0 10px 30px 0;
}

#hp-mobile-buttons, #mobile-col, #col1 select, #poctitle { display: none; }


/*
 * jQuery Nivo Slider v3.0.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 
 Thank you, Dev7Studios. Modified by Jordan Rome, CUNY Office of Communications and Marketing
 
 */
 
 .slider-wrapper { 
	display: block;
	overflow: hidden; 
	margin: 0px;
	position: relative;
	top: 0;
	left: 0;
	background-color: #39F;
}
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider a,
.nivoSlider a:hover { 
	  border:0;
  background-color: #fff;
  filter:alpha(opacity=0);
  opacity: 0;
  -webkit-opacity:0;
  -moz-opacity:0;
  -khtml-opacity:0;
}


.nivoSlider .injectvideo, .nivoSlider .injectplaylist {
/*	background-image: url(../../resources/images/global/slideshow/hpPlaybutton2.png);*/
	background-repeat: no-repeat;
	background-position: 7px bottom;        
	cursor: pointer;
              }
			  
	
.nivoSlider .imagelink {
	cursor: pointer;
              }
			  
.nivoSlider .injectvideo:hover, .nivoSlider .injectplaylist:hover { /*background-image: url(../../resources/images/global/slideshow/hpPlaybutton2hover.png); */}

.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	/*background-color: #333;
    background-color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);*/
	background-image: url(../../resources/images/global/slideshow/1pxgray77.png);
	color: #fff;
	width:100%;
	font-size: 12pt;
	margin:0;
	z-index:8;
	height: 35px;
	padding: 0px 10px 0px 10px;
	overflow: hidden;
	display: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.nivo-caption .injectvideo, .nivo-caption .injectplaylist { background-image: none; }
.nivo-caption .injectvideo:hover, .nivo-caption .injectplaylist:hover { background-image: none; }

.nivo-html-caption, #nivocaptions {
    display:none;
}

.nivo-caption a, .nivo-caption .injectvideo {
	display: block;
	cursor: pointer;
	color:#fff;
	padding-top: 10px;
}

.nivo-caption a:hover { 
	color: #fff;
	text-decoration: underline;
}


/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav { 
	position:absolute;
	right:35px;
	top:35px;
	z-index: 9;
	display: block;
	height: 32px;
	width: 80px;
	float: right;
}
.nivo-directionNav a {
	width: 32px;
	/*padding: 0px 3px;*/
	height: 32px;
	z-index:9;
	cursor:pointer;
	display: block;
	float: left;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
	display: none;
	/*remove display none to have a slide selector*/
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}



/*Video Box*/


.playercontainer {
     width: 100%;
     height: auto;
	 background-color: #eee;
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 z-index: 10;
	 display: none;
	 
}

.ytplayer {
	width: 100%;
	height: auto;
	display:block;
	
	background: #eee url(../../resources/images/global/slideshow/loading.gif) no-repeat 50% 50%;
	margin: 0px;
	padding: 0px;
}

.videoinfo {
	width: 980px;
	height: 30px;
	display: block;
	color: #fff;
	padding: 5px 20px 0px 0px;
	font-size: 10pt;
	text-align: right;
}


.videoinfo p { color: #656f74; padding-bottom: 0px;  }

.videoinfo a {
	color: #656f74;
	font-size: 11pt;
}

.videoinfo a.morevideos { color: #ff6600; font-size: 10pt; }

.videoinfo a.exitvideo {
	
	background-image: url(../../resources/images/global/slideshow/closeX.jpg);
	background-repeat: no-repeat;
	background-position: left 8px;
	/*height: 18px;
	width: 194px;
	display:block;*/
	padding: 5px 0px 0px 20px;
	margin: 5px 0px 0px 10px;
	
}

.videoinfo a.exitvideo:hover { background-color: transparent; color: #656f74; text-decoration: underline; }

.videoinfo a.morevideos:hover { background-color: transparent; color: #ff6600; text-decoration: underline; }


.theme-default .nivoSlider {
	position:relative;
	background:#fff;
 
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}


.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	background:url(../../resources/images/global/slideshow/hpArrow.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity:0.9; 
}
.theme-default a.nivo-prevNav {
	background-position:0 0;	
}
.theme-default a.nivo-prevNav:hover {
	background-position:0 -49px;
	opacity:1;	
}
.theme-default a.nivo-nextNav {
	background-position:-48px 0;
	float: right;
}
.theme-default a.nivo-nextNav:hover {
	background-position:-48px -49px;
	opacity:1;	
}
#chancellor-mobile{
    display:none;
}



@media screen and (max-width: 999px) and (min-width: 671px) {
	
body-index { padding: 0px; }	

/*Social Media Icons*/

#social {
	width: 104px;
	float: right;
    margin-bottom: 10px;
}    

#social-icons {
    float: none;
	width: 104px;
    display: block;    
}
	
#focus {
	width: 100%;
	padding: 0px;
}

.home-menu {
    float: none;
    width: 100%;
    margin: 0px;
	padding: 0px;
    height: auto;
	background-color:#fff;
}

.home-menu h2 {
	color:#1d3a83;
    margin: 0px 0px 5px 0px;
	font-size: 13pt;
}


#menu select {
    margin: 0px;
    display: block;
    font-size: 10pt;
    width: auto;
}

.home-menu ul, .more { display: none; }

.home-banner {
	float: none;
	width: 100%;
	padding:0;
	margin:0px 0 20px 0;
	padding: 0px;
}

.CUNYMediaPlayer-js-media-player { width: 670px; margin: 0 auto; }

.hp-mod1 {
	padding: 0px 0px 5px 0px;
	width: 100%;
	height: auto;
	overflow: auto;
}



.hpmodulespocrtimg, .hpmodulesmod1rtimg, .mod1-image, .spotlight a img { 
	width: 100%; 
	height: auto; 
	float: none; 
	clear: both;
	padding: 0px;
	margin: 0px;
}

#poc .spotlight a img {
	margin-bottom: 7px;	
}

.mod1-text {
	float: none;
	width: 96%;
	padding: 7px 2% 0px 2%;
    margin: 0px;
	
}


.ts-layout-home  {
	width: 96%;
	padding-top: 10px;
}


.ts-layout-home #col1 {
	width: 27%;
	padding: 0 2% 0 0;
	
}

.ts-layout-home #col2 {
	width: 44.1%;
	padding: 0 2% 0 0;
} 

.ts-layout-home #col3 {
	width: 20.9%;
}
#chancellor-mobile{
    display:none;
}
	
}

@media screen and (max-width: 670px) {
	
#focus {
	padding: 5px 3.5% 10px 3.5%;
	width: 93%;
}
		
.body-index { padding: 0px; }


.home-menu {
    float: none;
    width: 100%;
    margin: 0px;
	padding: 0px;
    height: auto;
	background-color:#fff;
}

.home-menu h2 {
	color:#1d3a83;
    margin: 0px;
}

.home-menu ul, .more { display: none; }

#col1 select { display: block; width: 100%; margin: 0px 0px 0px 0px; }

/*Social Media Icons*/

#social {
    width: 100%;
    margin-bottom: 10px;
	display: none;
}    

#social-icons {
    float: right;
    width: 76px;
    display: block;    
}

.home-menu h2 { margin: 7px 0px 12px 0px; color: #1d3a83; }

.home-banner, .CUNYMediaPlayer-js-player-2012, slider-wrapper, .playercontainer  {
	display: none;
}

.ts-layout-home { width: 100%; padding-top: 0px; }

.ts-layout-home #col2, .ts-layout-home #col3 {
	width: 100%;	
	padding: 0px 0px 10px 0px;
	margin: 0px;
	float: none;
    clear:both;
}
#chancellor-mobile{
    display:block;

}
#col1 p, #col1 ul li {

font-size: 9.5pt;

}
.hp-mod1, #poc, #poc .spotlight {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: auto;
	overflow: auto;
	float: none;
}


.ts-layout-home #col1,.hp-mod1 { display: none; }

.hpmodulespocrtimg, .hpmodulesmod1rtimg {
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: auto;
	float: none;
	margin: 0px 0px 10px 0px;
}

.mod1-text {
	float: none;
	width: 94%;
	padding: 0px 3% 0px 3%;
    margin: 0px;
	
}

.spotlight a img, .hpmodulespocrtimg img, .hpmodulesmod1rtimg img{
	
	width: 100%;
	height: auto;
	display: block;
	float: none;
	clear: both;
	margin: 0px; 
	padding: 0px;
}


#mobile-col { display: block; }

#chancellor { padding: 0px; margin: 0px 0px 10px 0px; height: auto; overflow: auto; }

#hp-mobile-buttons { 
	width: 100%;
	padding: 0px 0px 5px 0px;
	height: auto;
	overflow: auto;
	clear: both;
	display: block;
}

.hp-mobile-buttonL {
	width: 47%;
	text-align: center;
	padding: 10px 0px;
	margin: 0px 0px 5px 0px;
	float: left;
	background-color:#656f74;
	border: 1px solid #333;	
	color: #fff;
}

.hp-mobile-buttonR {
	width: 47%;
	text-align: center;
	padding: 10px 0px;
	float: right;
	background-color:#656f74;
	color: #fff;
	border: 1px solid #333;
	margin: 0px 0px 5px 0px;
}

}

/************************************
Outstanding Student Spotlight styles
*************************************/


@font-face {
    font-family: "TradeGothicLTStdCnBold";
    font-style: normal;
    font-weight: 600;
    src: url("tradegothicltstd-bdcn20-webfont.eot?#iefix") format("embedded-opentype"), url("tradegothicltstd-bdcn20-webfont.woff") format("woff"), url("tradegothicltstd-bdcn20-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "TradeGothicLTStdCnRegular";
    font-style: normal;
    font-weight: 600;
    src: url("tradegothicltstd-cn18-webfont.eot?#iefix") format("embedded-opentype"), url("tradegothicltstd-cn18-webfont.woff") format("woff"), url("tradegothicltstd-cn18-webfont.ttf") format("truetype"), url("tradegothicltstd-cn18-webfont.svg#TradeGothicLTStdCnRegular") format("svg");
}
#button-box {
    border: medium none;
}
.one-link-box {
    background-image: url("texture-bg.png");
    border-bottom: 1px solid #FFFFFF;
    color: #565656;
    font-family: 'TradeGothicLTStdCnRegular';
    font-weight: 100;
    height: 46px;
    letter-spacing: 1px;
    padding: 0;
    text-transform: uppercase;
}
.one-link-box a {
    background-color: rgba(0, 0, 0, 0);
    font-size: 17px;
    padding-left: 20px;
    padding-top: 15px;
}
#services-link, #life-link, #academics-link, #finances-link {
    border-top: medium none;
}
.one-link-box a.role-button-active, .one-link-box a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #565656;
}
.hidden-content {
    background-color: #F4F4F5;
}
.links-box ul {
    list-style: none outside none;
}
.links-box li a {
    font-family: 'TradeGothicLTStdCnRegular';
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1em;
    padding-left: 5px;
    padding-right: 5px;
}
.links-box p {
    font-family: 'TradeGothicLTStdCnRegular';
    font-size: 15px;
    letter-spacing: 0.02em;
    line-height: 1em;
    padding-left: 5px;
    padding-right: 5px;
    text-indent: 10px;
}
.links-box li a:hover {
    background-color: #FF6600;
}
.arrow {
    background: url("arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: right;
    height: 10px;
    margin: 5px 20px 0 0;
    width: 19px;
}
.mid-270 {
    float: left;
    padding: 0;
    width: 270px;
}
.right-400 {
    float: right;
    padding: 0;
    width: 400px;
}
.current-students-new-current-students-findacourse p {
    color: #657076;
}
.event-college {
    padding-bottom: 4px;
}
.features img {
    height: auto;
    width: 270px;
}
.features {
    width: 270px;
}
.box-gray-light {
    background: url("texture-bg.png") repeat scroll 0 0 #EFEFEF;
    height: 60px;
    margin: 0 0 1px;
    padding: 10px 20px;
}
h3 {
    line-height: 14pt;
}
h3.gray {
    color: #666F74;
    font-family: 'TradeGothicLTStdCnBold';
    font-size: 12pt;
    letter-spacing: 0.5px;
    padding-top: 10px;
}
h6 {
    color: #1D3A83;
    font-size: 10px;
}
.smaller-txt {
    color: #657076;
    font-weight: normal;
}
.orange {
    color: #FF6600;
    font-style: italic;
}
.dotted {
    background: url("dotted.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0;
}
.divider {
    background: url("dotted.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0 0 10px;
}
span.blue {
    color: #184BA1;
    font-family: 'TradeGothicLTStdCnRegular';
}
.search_input {
    opacity: 0.5;
}
.box-gray-light-round {
    background-color: #F4F4F5;
    border-radius: 0 0 0 10px;
    padding: 10px 15px 5px;
}

.about-alumni-students-faculty-outstanding-students-spotlight {
    border: solid 0px green;
    position: relative;
}

.features {
    border: solid 0px blue;
    width: 440px;
}
.aboutalumnistudentsfacultyoutstandingstudentsspotlightrtimg {
    float: left;
    border: solid 0px red;
    width: 270px;
}
.description {
    margin-left: 280px;   
}
.description h6 {
    font-size: 12px;
    margin-top: 10px;
}
.description p {
    color: #657076;
}
.content {
    color: #657076;
}
.include {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.va-container {
    margin: auto 0;
    position: relative;
}
.va-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.va-slice {
    border-top: 1px solid #FFFFFF;
    cursor: pointer;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.va-slice-1 {
    background: none no-repeat scroll center center #F4F4F5;
}
.va-slice-2 {
    background: none no-repeat scroll center center #F4F4F5;
}
.va-slice-3 {
    background: none no-repeat scroll center center #F4F4F5;
}
.va-slice-4 {
    background: none no-repeat scroll center center #F4F4F5;
}
.va-title {
    background: url("texture-bg.png") repeat scroll 0 0 #EFEFEF;
    border-bottom: 1px solid #FFFFFF;
    color: #565656;
    font-family: 'TradeGothicLTStdCnRegular';
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 1px;
    padding-left: 20px;
}
.va-content {
    display: none;
    width: 400px;
}
.va-slice p {
    font-family: Georgia,serif;
    font-size: 8px;
    font-style: italic;
}
.va-slice ul {
    list-style: none outside none;
    margin-top: 0;
    text-align: left;
}
.va-slice ul li {
    text-align: left;
}
.va-slice .column1 {
    display: block;
    float: left;
    line-height: 1.3em;
    min-width: 193px;
}
.va-slice .column2 {
    display: block;
    float: right;
    line-height: 1.3em;
    width: 170px;
}
.va-slice ul li a {
    color: #4D4D4D;
    font-family: 'TradeGothicLTStdCnRegular';
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1em;
    padding: 3px 6px;
}
.va-slice ul li a:hover {
    background: none repeat scroll 0 0 #FF6600;
    color: #FFFFFF;
}
.va-nav span {
    cursor: pointer;
    display: none;
    height: 25px;
    left: 50%;
    margin-left: -20px;
    opacity: 0.7;
    position: absolute;
    text-indent: -9000px;
    top: -25px;
    width: 40px;
    z-index: 100;
}
.va-nav span.va-nav-next {
    bottom: -25px;
    position: absolute;
    top: auto;
}
.ts-layout-960-3 .mid {
    float: left;
    padding: 0 10px 0 0;
    width: 380px;
}
#testing {
    margin-left: 8px;
    margin-top: -10px;
    width: 400px;
}
#colorbox, #cboxOverlay, #cboxWrapper {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 9999;
}
#cboxOverlay {
    height: 100%;
    position: fixed;
    width: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}
#cboxContent {
    position: relative;
}
#cboxLoadedContent {
    overflow: auto;
}
#cboxTitle {
    margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}
.cboxPhoto {
    border: 0 none;
    display: block;
    float: left;
    margin: auto;
    max-width: none;
}
.cboxIframe {
    border: 0 none;
    display: block;
    height: 100%;
    width: 100%;
}
#colorbox, #cboxContent, #cboxLoadedContent {
}
#cboxOverlay {
    background: none repeat scroll 0 0 #333333;
}
#colorbox {
}
#cboxContent {
    margin-top: 20px;
}
.cboxIframe {
    background: none repeat scroll 0 0 #FFFFFF;
}
#cboxError {
    border: 1px solid #CCCCCC;
    padding: 50px;
}
#cboxLoadedContent {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #FFFFFF;
}
#cboxTitle {
    color: #CCCCCC;
    left: 0;
    position: absolute;
    top: -20px;
}
#cboxCurrent {
    color: #CCCCCC;
    position: absolute;
    right: 0;
    top: -20px;
}
#cboxSlideshow {
    color: #FFFFFF;
    position: absolute;
    right: 90px;
    top: -20px;
}
#cboxPrevious {
    background: url("controls.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 65px;
    left: 5px;
    margin-top: -32px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 28px;
}
#cboxPrevious:hover {
    background-position: left bottom;
}
#cboxNext {
    background: url("controls.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    height: 65px;
    margin-top: -32px;
    position: absolute;
    right: 5px;
    text-indent: -9999px;
    top: 50%;
    width: 28px;
}
#cboxNext:hover {
    background-position: right bottom;
}
#cboxLoadingOverlay {
    background: none repeat scroll 0 0 #000000;
}
#cboxLoadingGraphic {
    background: url("loading.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#cboxClose {
    background: url("controls.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    display: block;
    height: 19px;
    position: absolute;
    right: 5px;
    text-indent: -9999px;
    top: 5px;
    width: 38px;
}
#cboxClose:hover {
    background-position: center bottom;
}
@media screen and (max-width: 999px) and (min-width: 671px) {
.box-gray-light {
    padding: 10px 5%;
}
.mid-380 img {
    height: auto;
    max-width: 100%;
}
.main-content ul {
    padding-left: 10px;
}
.va-slice ul li a {
    font-size: 1em;
    line-height: 0.5em;
}
.va-slice .column1 {
    min-width: 180px;
}
.va-slice .column2 {
    float: left;
}
.ts-layout-960-3 .right-400 {
    width: 71%;
}
.search_input {
    width: 95%;
}
.about-alumni-students-faculty-outstanding-students-spotlight{
    width:100%;
}
.aboutalumnistudentsfacultyoutstandingstudentsspotlightrtimg{
	max-width:100%;
}
.features{
	width:100%;
}
.description {
    margin-left: 0;
}
@media screen and (max-width: 670px) {
.ts-layout-960-3 .left-270, .ts-layout-960-3 .mid-380, .ts-layout-960-3 .right-270 {
    display: block;
    overflow: auto;
}
h6 {
    font-size: 12px;
}
span.smaller-txt, p.smaller-txt {
    font-size: 12px;
    line-height: 14px;
}
.img-float-left {
    display: block;
}
.mid-380 img {
    height: auto;
    max-width: 100%;
}
#va-accordion[style] {
    width: 100% !important;
}
.box-gray-light {
    padding: 10px 0;
    width: 100%;
}
.box-gray-light h3.gray, .box-gray-light #programSearch {
    padding-left: 15px;
}
.right-400 {
    float: left;
    width: 100%;
}
.mid-270, .features {
    display: block;
    padding: 10px 0 5px;
    width: 100%;
}
.spotlight a img, .hpmodulespocrtimg img, .hpmodulesmod1rtimg img {
    width: 100%;
}
.va-slice ul li a {
    font-size: 1em;
    line-height: 0.5em;
}
.va-slice .column1 {
    min-width: 155px;
}
.va-slice .column2 {
    float: left;
}
.va-title {
    padding-left: 10px;
}
.va-slice ul {
    padding-left: 5px;
}
#colorbox[style] {
    height: 300px !important;
    left: 15px !important;
    margin: 0 auto;
    width: 300px !important;
}
#cboxWrapper[style] {
    height: 300px !important;
    width: 300px !important;
}
#cboxContent[style] {
    height: 250px !important;
    width: 280px !important;
}
#cboxLoadedContent[style] {
    height: 250px !important;
    width: 280px !important;
}
}
