@charset "utf-8";
/* CSS Document */

/*乐语*/
li{list-style:none;}

 .modal-header span{  float:left; width:150px;  background:url(../images/city_img.png) no-repeat 0 0; margin:-5px;}
.modal-header span .xdf_logo{ display:block; float:left; height:30px; width:70px; overflow:hidden; text-indent:-99999px;}
.modal-header span .gjyx_logo{ display:block; float:right; height:30px; width:75px; overflow:hidden; text-indent:-99999px;}
.index_tcc_con2{ width:780px; overflow:hidden; background-color:#fffbdb;}
.looyu_pop input{width:180px;height:60px;background:none;border:none;position:absolute;top:150px;left:150px;cursor:pointer;}

.looyu_close{display:block;width:23px;height:23px;background:url(../images/looyu_close.png) no-repeat;position:absolute;top:-11px;right:-11px;}
.looyu_close:hover{background:url(../images/looyu_closeOn.png) no-repeat;}

.looyu_close2{display:block;width:23px;height:23px;background:url(../images/looyu_close.png) no-repeat;position:absolute;top:15px;right:15px;}
.looyu_close2:hover{background:url(../images/looyu_closeOn.png) no-repeat;}

.looyu_right{background:url(../images/looyu_right.gif) no-repeat;width:131px;height:196px;border-radius:10px;box-shadow:0px 0px 10px #777;position:fixed;top:50%;right:30px;margin:-215px 0 0 0px;z-index:300;padding:75px 0 0 8px;}
.looyu_right ul{margin:0;padding:0;}
.looyu_right ul li{margin:5px 0 0 0;list-style:none;padding:0;}
.looyu_right ul li a{color:#2e84ee;text-decoration:none;font:12px "宋体";background:#f5f4f4;padding:2px 5px;height:21px;line-height:25px;display:inline-block;}
.looyu_right ul li a:hover{text-decoration:underline;}
.looyu_right ul li a img{margin-left:5px;vertical-align:middle;border:none;}

.yaoqingBox{background:url(../images/yaoqingBox.png) no-repeat center top;width:800px;height:235px;position:fixed;top:50%;left:50%;margin:-288px 0 0 -400px;z-index:1100;display:none;}
.yaoqingBox .now{background:url(../images/yaoqingBox_bt01.gif) no-repeat;width:105px;height:37px;margin:109px 0 0 341px;*margin:108px 0 0 741px;border:none;cursor:pointer;color:#fff;font-size:18px;font-family:"微软雅黑";}
.yaoqingBox .wait{background:url(../images/yaoqingBox_bt02.gif) no-repeat;width:105px;height:37px;margin:109px 0 0 25px;border:none;cursor:pointer;color:#fff;font-size:18px;font-family:"微软雅黑";}
.yaoqingBox .xialaBox{background:url(../images/yaoqingBox_bg1.png) no-repeat;width:800px;height:399px;margin-top:33px;display:none;}
.index_tcc{ width:780px; overflow:hidden; border:1px solid #f08515;}
.index_tcc_con1{ width:780px; height:40px; overflow:hidden; background-color:#ffbd3d;}
.index_tcc_con1 h3{ font: 18px/40px "微软雅黑"; padding:0 0 0 7px; color:#fff;margin:0; }
.index_tcc_con1 .close{ display:inline-block; width:12px; height:12px; overflow:hidden; float:right; margin:12px 10px 0 0; background:url(../images/city_img.png) no-repeat scroll 0 -620px;}
.index_tcc_con1 span{ display:inline-block; float:left; width:150px; height:30px; overflow:hidden; background:url(../images/city_img.png) no-repeat 0 0; margin:6px 12px 0 0;}
.index_tcc_con1 span .xdf_logo{ display:block; float:left; height:30px; width:70px; overflow:hidden; text-indent:-99999px;}
.index_tcc_con1 span .gjyx_logo{ display:block; float:right; height:30px; width:75px; overflow:hidden; text-indent:-99999px;}
.index_tcc_con2{ width:780px; overflow:hidden; background-color:#fffbdb;}
.cm_c1 { line-height:35px; font-size:14px; color:#323232; font-weight:bold; margin:10px 20px 10px 20px;}
.cm_c3 {height: 100%;overflow: hidden;padding: 25px;}
.cm_c3 ul {float: left;width: 50%;}
.cm_c3 ul li {background: url(../images/city_img.png) no-repeat scroll 0 -46px transparent;line-height: 30px;padding-left: 28px;font-size:14px;}
.cm_c3 ul li.lk_a {background-position: 0 -46px;text-align:left;}
.cm_c3 ul li.lk_b {background-position: 0 -76px;text-align:left;}
.cm_c3 ul li.lk_c {background-position: 0 -106px;text-align:left;}
.cm_c3 ul li.lk_d {background-position: 0 -136px;text-align:left;}
.cm_c3 ul li.lk_f {background-position: 0 -166px;text-align:left;}
.cm_c3 ul li.lk_g {background-position: 0 -196px;text-align:left;}
.cm_c3 ul li.lk_h {background-position: 0 -226px;text-align:left;}
.cm_c3 ul li.lk_j {background-position: 0 -256px;text-align:left;}
.cm_c3 ul li.lk_k {background-position: 0 -286px;text-align:left;}
.cm_c3 ul li.lk_l {background-position: 0 -316px;text-align:left;}
.cm_c3 ul li.lk_n {background-position: 0 -346px;text-align:left;}
.cm_c3 ul li.lk_q {background-position: 0 -376px;text-align:left;}
.cm_c3 ul li.lk_s {background-position: 0 -406px;text-align:left;}
.cm_c3 ul li.lk_t {background-position: 0 -436px;text-align:left;}
.cm_c3 ul li.lk_w {background-position: 0 -466px;text-align:left;}
.cm_c3 ul li.lk_x {background-position: 0 -496px;text-align:left;}
.cm_c3 ul li.lk_y {background-position: 0 -526px;text-align:left;}
.cm_c3 ul li.lk_z {background-position: 0 -556px;text-align:left;}
.cm_c3 ul li a {color: #323232;margin-right: 1em; text-decoration:none;text-align:left;}
.cm_c3 ul li a:hover {color: #f07c00; text-decoration:underline;}

/*返回顶部*/
.backToTop{width:18px;line-height:1.2;padding:5px 0;background-color:#000;color:#fff;font-size:12px;text-align:center;position:fixed;_position:absolute;right:10px;bottom:100px;_bottom:"auto";cursor:pointer;opacity:0.6;filter:Alpha(opacity=60);z-index:10;}