{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li class="" data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li class="" data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img alt="First slide" src="{% static 'app/img/3.jpg' %}">
                <div class="carousel-caption">
                  <div class="slider-text">
                    <h1>广州⇌柬埔寨</h1>
                    <span>【爆款1999】年轻人第一次高逼格的出国旅行，广州柬埔寨</span>
                                        <span class="fxproduct"></span>
                                    </div>
                </div>
            </div>
            <div class="item">
                <img alt="First slide" src="{% static 'app/img/4.jpg' %}">
                <div class="carousel-caption">
                  <div class="slider-text">
                    <h1>上海⇌巴厘岛</h1>
                    <span>【小木屋5999】年轻人第一次放肆的海岛旅行，上海巴厘岛</span>
                                        <span class="fxproduct"></span>
                                    </div>
                </div>
            </div>
            <div class="item">
                <img alt="First slide" src="{% static 'app/img/5.jpg' %}">
                <div class="carousel-caption">
                  <div class="slider-text">
                    <h1>北京⇌希腊</h1>
                    <span>【唯美9999起】年轻人第一次浸在爱琴海的梦幻旅行 北京出发</span>
                                        <span class="fxproduct"></span>
                                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="icon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="icon-chevron-right"></span>
        </a>
    </div>
    <div class="container-fluid">
        <div class="example">
            <br />
            <br />
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-search"></i></span>
                        <input class="form-control" type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button">搜索</button>
                        </span>
                    </div>
                    <br>
                </div>
            </div>

            <div class="list">
                <header>
                    <div class="pull-right">
                        <a href="/hotel_list">查看更多</a>
                    </div>
                    <h3> 热门房源 &nbsp;<small></small></h3>
                </header>
                <section class="cards">
                    {% for house in houses %}
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <a href="/house_details/{{ house.pk}}" class="card">
                            <img src="{{MEDIA_URL}}{{ house.pics}}" alt="">
                            <span class="caption">{{house.title}}</span>
                        </a>
                        <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
                                        <div>
                                            <sup class="h6 text-contrast">¥</sup>
                                            <span class="h3 price-amount">{{house.rent}}</span>
                                            <sup class="h6 text-contrast"></sup>
                                        </div>
                        </div>
                    </div>                   
                    {% endfor %}

                </section>
                <footer>
                    <ul class="pager">
                    </ul>
                </footer>
            </div>
        </div>
    </div>

{% endblock %}
