{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid">
        <div class="example">
            <br />
            <br />
            <div class="row">
 <div class="list">
                <section class="cards" >
  
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        
                        <a href="/study_index" class="card">
                            <img src="{% static 'app/img/gallery-img1.png' %}" alt="">
                        </a> 
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-3 col-lg-offset-1">
                        <a href="/travel_index" class="card">
                            <img src="{% static 'app/img/gallery-img2.png' %}" alt="">                            
                        </a> 
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-3 col-lg-offset-1">
                        <a href="/hotel_index" class="card">
                            <img src="{% static 'app/img/gallery-img3.png' %}" alt="" height="600px" width="536px">                            
                        </a> 
                    </div>

                </section>
                <footer>
                    <ul class="pager">
                    </ul>
                </footer>
            </div>
            </div>          

        </div>
        </div>

{% endblock %}
