{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}


  <div class="list">
        <header>          
          <h3><i class="icon-list-ul icon-border-circle"></i> 我发布的教育产品 &nbsp;<small>{{studyproducts.count}}个行程</small><a href="/studyproduct_publish" class="btn btn-info pull-right">发布教育产品</a></h3>
          
        </header>
        <section class="items items-hover">
            {% for studyproduct in studyproducts %}
                <div class="item">
                <div class="item-heading">
                    <div class="row">
                        <div class="col-md-1">
                             <img src="{{MEDIA_URL}}{{ studyproduct.pics}}" class="img-rounded" alt="" height="86px" width="86px">
                        </div>
                        <div class="col-md-3">
                               <h4><span class="label label-success">NEW</span>&nbsp; <a href="/studyproduct_details/{{studyproduct.pk}}">{{studyproduct.title}}</a>&nbsp; &nbsp; &nbsp; <span class="text-muted">{{studyproduct.publisher.username}}</span></h4>
                             <div class="item-content">
                   {{studyproduct.description|safe}}
                </div>
                <div class="item-footer">
                  <a href="#" class="text-muted"><i class="icon-comments"></i> 243</a>&nbsp;
                  <span class="text-muted">{{studyproduct.createdTime}}</span>
                </div>
              </div>
                        <div id="{{studyproduct.pk}}" class="btn btn-info pull-right delete">删除</div>
                        </div>
                      
                    </div>
                 
                  
                </div>
               
            {% endfor %}
          
        </section>
        <footer>
          <ul class="pager">
            <li class="previous"><a href="#">« 上一页</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">⋯</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">⋯</a></li>
            <li><a href="#">12</a></li>
            <li class="next"><a href="#">下一页 »</a></li>
          </ul>
        </footer>
      </div>
      <script type="text/javascript">
$(document).ready(function(){
    $(".delete").click(function () {
        var id = $(this).attr('id');
        $.ajax({
            url: '/study_delete/' + id + '/',

            type: 'POST',

            dataType: 'json',

            timeout: 1000,

            error: function (result) { alert("删除失败");},

            success: function (result) {location.reload();  }

        });
     });
    });
</script>
{% endblock %}