{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
    <div class="example">
        <div class="row">
            <form enctype="multipart/form-data" method="POST" action="/profile/{{user.pk}}/">
            <div class="col-md-1 col-md-offset-4">
                <p class="lead">名字</p>
            </div>
            <div class="col-md-2">
              <input type="text" id="name" placeholder="{{user.username}}"></>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-4">
                <p class="lead">联系方式</p>
            </div>
            <div class="col-md-2">
              <input type="text" id="contact" placeholder="QQ"></>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-4">
                <p class="lead">描述自己</p>
            </div>
            <div class="col-md-2">
              <textarea id="desc" placeholder="简单介绍一下您自己"style="width: 100%;"></textarea>
            </div>                    
        </div>
          <br/> 
        <div class="row">
            <div class="col-md-1 col-md-offset-4">
                <p class="lead">新密码</p>
            </div>
            <div class="col-md-2">
              <textarea id="desc" placeholder="不填则不变"style="width: 100%;"></textarea>
            </div>                    
        </div>
                <br/> 
        <div class="col-md-1 col-md-offset-4">
                <p class="lead">照片</p>
            </div>
            <div class="col-md-2">
             <input type="file" name="file_photo" class="btn "/><br/> 
            </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-5">
                <div class="btn btn-info" id="publish">保存</div>
            </div>
        </div>
        </div>

{% endblock %}