{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

        <div class="example">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li class="" data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li class="" data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="First slide " src="{{MEDIA_URL}}{{ studyproduct.pics}}/">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="icon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="icon-chevron-right"></span>
                </a>
            </div>
        </div>
    <div class="example">
        <div class="row">
            <div class="col-md-8 ">
                <div class="col-md-3 text-center col-md-offset-1">
                    <a href="#host-profile" class="media-photo media-round"><img alt="{{studyproduct.publisher.username}}" class="host-profile-image" src="{{MEDIA_URL}}{{profile.avatar}}" title="{{studyproduct.publisher.username}}" height="90" width="90"></a>
                </div>
                <div class="col-md-6">
                    <div class="row">
        </div>
                    <h1 itemprop="name" class="overflow h3 row-space-1 text-center-sm" style="margin-top: 0" id="listing_name">
                       {{ studyproduct.title }}
                    </h1>
                    <span>行程日期: {{studyproduct.startime}}-{{studyproduct.endtime}}</span>
                     <h5>价格: {{studyproduct.price}}</h5>
                    <div id="display-address" class="row-space-2 text-muted hide-sm">
                        出发地
                        <span>{{ studyproduct.startPlace }}</span>
                        目的地
                        <span>{{ studyproduct.destination }}</span>

                        &nbsp;
                        <a href="#reviews" class="link-reset">
                            <div class="star-rating">
                                <div class="foreground">
                                    (<a href="#comments">{{comments.count}}条评论</a>)
                                </div>

                            </div>

                        </a>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-3 text-muted text-center hide-sm col-md-offset-1">
                    <a href="#host-profile" class="link-reset text-wrap">{{studyproduct.publisher.username}}</a>
                </div>
                {% ifequal  studyproduct.type 0 %}
                <div class="col-sm-1">
                   留学
                </div>
               {% endifequal %}
                {% ifequal  studyproduct.type 1 %}
                <div class="col-sm-1">
                   游学
                </div>
                {% endifequal %}                
                
            </div>
        </div>

    </div>
<div class="example">
        <div class="row">
            <div class="col-lg-10" id="details-column">

                <div class="col-lg-9 col-md-offset-2">


                    <p>{{studyproduct.description|safe}}</p>



                </div>

            </div>
        </div>
    </div>
<div class="example" id="comments">
     {% for comment in comments%}
    <div class="comments" id="{{comment.pk}}">
        <header>            
            <h3><i class="icon-comments icon-border-circle"></i>{{comments.count}} 条评论</h3>
        </header>
        <section class="comments-list">
            <div class="comment">
                <a href="###" class="avatar"><i class="icon-user icon-border icon-2x icon-muted"></i></a>
                <div class="content">
                    <div class="pull-right"><span class="text-muted" title="2013-11-08 15:52:32">{{comment.createdTime}}</span> &nbsp;</div>
                    <span class="author">
                        <a href="#"><strong>Catouse</strong></a>
                    </span>
                    <div class="text">
                       {{comment.content}}
                    </div>
                    {% ifequal user studyproduct.publisher%}
                    <div class="actions">
                        
                    <div id="{{comment.pk}}" class="delete btn-link">delete</div>
                    </div>
                    {%endifequal%}
                </div>
            </div>
           
        </section>        
    </div>
    {% endfor %}
    <footer>
            <div class="reply-form" id="commentReplyForm">
                <a href="###" class="avatar"><i class="icon-user icon-border icon-2x icon-muted"></i></a>
                <div class="form">
                    <form role="form">
                        <div class="form-group">
                            <textarea id="content"class="form-control new-comment-text" rows="2" placeholder="write a comment..."></textarea>
                        </div>
                        <div id ="publish" class="btn btn-info"><i class="icon-comment-alt"></i> 发表评论</div>
                    </form>
                </div>
            </div>
        </footer>
</div>
<script type="text/javascript">
$(document).ready(function(){

    $("#publish").click(function () {
        var content = $("#content").val();
        $.ajax({
            url: '/comment/1/{{studyproduct.pk}}/',

            type: 'POST',

            data: {
                content: content,
            },

            dataType: 'json',

            timeout: 1000,

            error: function (result) { alert("发表失败"); alert(result) },

            success: function (result) {location.reload();  }

        });
        });
    $(".delete").click(function () {
        var id = $(this).attr('id');
        $.ajax({
            url: '/comment_delete/'+id+'/',

            type: 'POST',

            dataType: 'json',

            timeout: 1000,

            error: function (result) { alert("删除失败");},

            success: function (result) {location.reload();  }

        });
     });
    });
</script>
{% endblock %}