{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}


  <div class="list">
        <header>          
          <h3><i class="icon-list-ul icon-border-circle"></i> 教育产品列表 &nbsp;<small>{{studyproducts.count}}个教育产品</small><a href="/study_publish" class="btn btn-info pull-right">发布教育产品</a></h3>
          
        </header>
        <section class="items items-hover">
                    <div class="row">
                <div class="col-md-7">
            {% for studyproduct in studyproducts%}
                <div class="item">
                <div class="item-heading">
                    <div class="row">
                        <div class="col-md-3">
                             <img src="{{MEDIA_URL}}{{ studyproduct.pics}}" class="img-rounded" alt="" height="480px" width="480px">
                        </div>
                        <div class="col-md-6">
                               <h4><span class="label label-success">NEW</span>&nbsp; <a href="/study_details/{{studyproduct.pk}}">{{studyproduct.title}}</a>&nbsp; &nbsp; &nbsp; <span class="text-muted">{{studyproduct.publisher.username}}</span></h4>
                             <div class="item-content">
                   {{studyproduct.description|safe}}
                </div>
                <div class="item-footer">
                  <a href="#" class="text-muted"><i class="icon-comments"></i> 243</a>&nbsp;
                  <span class="text-muted">{{studyproduct.createdTime}}</span>
                </div>
              </div>
                        </div>
                      
                    </div>
                        <div id="mapContainer" class="col-md-2" style="width: 480px; height: 480px">      </div>
                  
                </div>
               
            {% endfor %}
          </div>
                 <div id="mapContainer" class="col-md-2" style="width: 480px; height: 480px">      </div>
          </div>
        </section>
        <footer>
          <ul class="pager">
            <li class="previous"><a href="#">« 上一页</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">⋯</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">⋯</a></li>
            <li><a href="#">12</a></li>
            <li class="next"><a href="#">下一页 »</a></li>
          </ul>
        </footer>
      </div>

<script type="text/javascript">
    $(document).ready(function () {
    var platform = new H.service.Platform({
        'app_id': 'QK8VU8IHVjsjdh2pwqPn',
        'app_code': 'HvDcgeYXgvHyThysCUK8eQ'
    });
    var defaultLayers = platform.createDefaultLayers();

    // Instantiate (and display) a map object:
    var map = new H.Map(
        document.getElementById('mapContainer'),
        defaultLayers.normal.map,
        {
            zoom: 5,
            center: { lat: 32.5, lng: -100.4 }
        });
    var mapEvents = new H.mapevents.MapEvents(map);
    map.addEventListener('tap', function(evt) {
        // Log 'tap' and 'mouse' events:
        console.log(evt.type, evt.currentPointer.type); 
    });
    var behavior = new H.mapevents.Behavior(mapEvents);
    var geocodingParams = {
        searchText: '{{des}}'
    };
    var onResult = function (result) {
        var locations = result.Response.View[0].Result;
        var position,marker;
        // Add a marker for each location found
        for (i = 0; i < locations.length; i++) {
            position = {
                lat: locations[i].Location.DisplayPosition.Latitude,
                lng: locations[i].Location.DisplayPosition.Longitude
            };
            marker = new H.map.Marker(position);
            map.addObject(marker);
            map.setCenter(position);
            
        }
       
       
    };

        // Get an instance of the geocoding service:
    var geocoder = platform.getGeocodingService();
        // Call the geocode method with the geocoding parameters,
        // the callback and an error callback function (called if a
        // communication error occurs):
    geocoder.geocode(geocodingParams, onResult, function (e) {
        alert(e);
    });
});
</script>
{% endblock %}