{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li class="" data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li class="" data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img alt="First slide" src="{% static 'app/img/4.jpg' %}">
                <div class="carousel-caption">
                  <div class="slider-text">
                    <h1>哈佛大学</h1>
                    <span></span>
                                        <span class="fxproduct"></span>
                                    </div>
                </div>
            </div>
            <div class="item">
                <img alt="First slide" src="{% static 'app/img/5.jpg' %}">
                <div class="carousel-caption">
                  <div class="slider-text">
                    <h1>斯坦福大学</h1>
                    <span></span>
                                        <span class="fxproduct"></span>
                                    </div>
                </div>
            </div>
            <div class="item">
                <img alt="First slide" src="{% static 'app/img/9.jpg' %}">
                <div class="carousel-caption">
                  <div class="slider-text">
                    <h1>耶鲁大学</h1>
                    <span></span>
                                        <span class="fxproduct"></span>
                                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="icon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="icon-chevron-right"></span>
        </a>
    </div>
    <div class="container-fluid">
        <div class="example">
            <br />
            <br />
            <div class=" row">
                    <div class="col-md-8 col-md-offset-2">
                        <br>
                        <div class="input-group ">
                            <input class="form-control" placeholder="目的地" id="des" type="text">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input class="form-control form-date" placeholder="出发日期" id="checkinDate"type="text">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input class="form-control form-date" placeholder="返回日期" id="checkoutDate"type="text">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button" id="search">搜索</button>
                            </span>

                        </div>
                    </div>
                </div>


            <div class="list">
                <header>
                    <div class="pull-right">
                        <a href="/study_list">查看更多</a>
                    </div>
                    <h3> 热门教育产品 &nbsp;<small></small></h3>
                </header>
                <section class="cards">
                     {% for study in studyproducts%}
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <a href="/studyproduct_details/{{ study.pk}}" class="card">
                            <img src="{{MEDIA_URL}}{{ study.pics}}" alt="">
                            <span class="caption">{{study.title}}</span>
                        </a>
                        <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
                                        <div>
                                            <sup class="h6 text-contrast">¥</sup>
                                            <span class="h3 price-amount">{{study.price}}</span>
                                            <sup class="h6 text-contrast"></sup>
                                        </div>
                        </div>
                    </div>                   
                    {% endfor %}

                </section>
                <footer>
                    <ul class="pager">
                    </ul>
                </footer>
            </div>
            <div class="list">
                <header>
                    <div class="pull-right">
                        <a href="/study_list">查看更多</a>
                    </div>
                    <h3> 最新教育产品 &nbsp;<small></small></h3>
                </header>
                <section class="cards">
                     {% for study in studyproducts%}
                    <div class="col-md-4 col-sm-6 col-lg-3">
                        <a href="/studyproduct_details/{{ study.pk}}" class="card">
                            <img src="{{MEDIA_URL}}{{ study.pics}}" alt="">
                            <span class="caption">{{study.title}}</span>
                        </a>
                        <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
                                        <div>
                                            <sup class="h6 text-contrast">¥</sup>
                                            <span class="h3 price-amount">{{study.price}}</span>
                                            <sup class="h6 text-contrast"></sup>
                                        </div>
                        </div>
                    </div>                   
                    {% endfor %}

                </section>
                <footer>
                    <ul class="pager">
                    </ul>
                </footer>
            </div>
        </div>
    </div>

{% endblock %}
