{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="example">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li class="" data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li class="" data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="First slide " src="{{MEDIA_URL}}{{ travelproduct.pics}}/">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="icon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="icon-chevron-right"></span>
                </a>
            </div>
    </div>
</div>


<div class="example">
    <div class="row">
         <div class="col-md-8 ">
                <div class="col-md-3 text-center">
                    <a href="#host-profile" class="media-photo media-round"><img alt="{{travelproduct.publisher.username}}" class="host-profile-image" src="https://a0.muscache.com/ic/users/7596012/profile_pic/1416709262/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=225:*&amp;output-format=jpg&amp;output-quality=70" title="{{publisher.username}}" height="90" width="90"></a>
                </div>
                <div class="col-md-6">

                    <h1 itemprop="name" class="overflow h3 row-space-1 text-center-sm" style="margin-top: 0">
                       {{ travelproduct.title }}
                    </h1>
                     (<a href="#comments">{{comments.count}}条评论</a>)
                    <h5 itemprop="name" class="overflow h3 row-space-1 text-center-sm" style="margin-top: 0">行程日期： <span class="text-muted">{{travelproduct.startime}}——{{travelproduct.endtime}}</span></h5>
                    <h5 itemprop="name" class="overflow h3 row-space-1 text-center-sm" style="margin-top: 0">人均价格： <span class="text-muted">{{travelproduct.price}}￥</span></h5>
                    <h5 itemprop="name" class="overflow h3 row-space-1 text-center-sm" style="margin-top: 0">航班： <span class="text-muted">{{travelproduct.planeticket}}</span></h5>
                    <h5 itemprop="name" class="overflow h3 row-space-1 text-center-sm" style="margin-top: 0">入住酒店： <span class="text-muted">{{travelproduct.checkinHotel}}</span></h5>
                </div>
            </div>            
        </div>
     <div class="row">
            <div class="col-md-8">
                <div class="col-md-3 text-muted text-center hide-sm">
                    <a href="#host-profile" class="link-reset text-wrap">{{travelproduct.publisher.username}}</a>
                </div>                


        </div>
    </div>
     </div>

<div class="example">
        <div class="row">
            <div class="col-lg-10" id="details-column">

                <div class="col-lg-9 ">
                    <p>{{travelproduct.description|safe}}</p>                                    
                </div>

            </div>
        </div>
    </div>

<div class="example" id="comments">
     {% for comment in comments%}
    <div class="comments">
        <header>            
            <h3><i class="icon-comments icon-border-circle"></i>{{comments.count}} 条评论</h3>
        </header>
        <section class="comments-list">
            <div class="comment">
                <a href="###" class="avatar"><i class="icon-user icon-border icon-2x icon-muted"></i></a>
                <div class="content">
                    <div class="pull-right"><span class="text-muted" title="2013-11-08 15:52:32">2 hours ago</span> &nbsp;</div>
                    <span class="author">
                        <a href="#"><strong>Catouse</strong></a>
                    </span>
                    <div class="text">
                       {{comment.content}}
                    </div>
                    {% ifequal user travelproduct.publisher%}
                    <div class="actions">
                        
                    <div id="{{comment.pk}}" class="delete btn-link">delete</div>
                    </div>
                    {%endifequal%}
                </div>
            </div>
           
        </section>        
    </div>
    {% endfor %}
    <footer>
            <div class="reply-form" id="commentReplyForm">
                <a href="###" class="avatar"><i class="icon-user icon-border icon-2x icon-muted"></i></a>
                <div class="form">
                    <form role="form">
                        <div class="form-group">
                            <textarea id="content"class="form-control new-comment-text" rows="2" placeholder="write a comment..."></textarea>
                        </div>
                        <div id ="publish" class="btn btn-info"><i class="icon-comment-alt"></i> 发表评论</div>
                    </form>
                </div>
            </div>
        </footer>
</div>
<script type="text/javascript">
$(document).ready(function(){

    $("#publish").click(function () {
        var content = $("#content").val();
        alert(content);
        $.ajax({
            url: '/comment/0/{{travelproduct.pk}}/',

            type: 'POST',

            data: {
                content: content,
            },

            dataType: 'json',

            timeout: 1000,

            error: function (result) { alert("发表失败"); alert(result) },

            success: function (result) {location.reload();  }

        });
        });
    $(".delete").click(function () {
        var id = $(this).attr('id');
        $.ajax({
            url: '/comment_delete/'+id+'/',

            type: 'POST',

            dataType: 'json',

            timeout: 1000,

            error: function (result) { alert("删除失败");},

            success: function (result) {location.reload();  }

        });
     });
    });
</script>
{% endblock %}