.nb_body{
	min-width:1200px;
	background:#8bc1de;
	font-family:"Microsoft Yahei"
}

.nb_wrap{
	position:relative;
	width:1190px;
	margin:0
auto
}

.nb_main{
	position:relative;
	padding-bottom:100px
}

.flex_wrap{
	font-size:0;
	line-height:0;
	text-indent:0
}

.flex_item{
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top
}

.nb_icon{
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:text-top;
	_vertical-align:top
}

.cities{
	position:absolute;
	z-index:999;
	display:none;
	width:432px;
	margin-left:-1px;
	padding:5px
10px 14px;
	border:1px
solid #ddd;
	background:#fff
}

.cities_tit{
	height:20px;
	line-height:20px;
	color:#999
}

.cities_cat{
	height:30px;
	border-bottom:1px solid #ddd;
	margin-right:-2px
}

.cities_list_cat.hide{
	display:none
}

.cities_cat
li{
	position:relative;
	top:1px;
	float:left;
	width:68px;
	height:22px;
	margin-top:6px;
	margin-right:2px;
	border:1px
solid #ddd;
	cursor:pointer;
	text-align:center;
	line-height:22px
}

.cities_cat
.cities_cat_long{
	width:72px
}

.cities_cat
.last{
	margin-right:0
}

.cities_cat
li.current{
	border-top-color:#2e9700;
	border-bottom-color:#fff
}

.cities_list
li{
	float:left;
	width:49px;
	height:24px;
	padding:0
0 0 11px;
	line-height:24px;
	color:#666
}

.container{
	width:800px;
	margin:0
auto
}

.autocomplete-suggestions{
	margin-left:-1px;
	border:1px
solid #ddd;
	background:#FFF;
	cursor:default;
	overflow:auto
}

.autocomplete-suggestion{
	padding:4px
5px;
	white-space:nowrap;
	overflow:hidden;
	background:#fff;
	color:#666;
	line-height:16px
}

.autocomplete-no-suggestion{
	padding:4px
5px;
	background:#ffebea;
	color:#fb3b39
}

.autocomplete-selected{
	background:#63ca33;
	color:#fff
}

.autocomplete-group{
	padding:4px
5px
}

.autocomplete-group
strong{
	font-weight:bold;
	font-size:12px;
	color:#000;
	display:block;
	border-bottom:1px solid #000
}

.nb_hd{
	padding:39px
0 17px 83px;
	background:url(http://images.tuniucdn.com/img/2015005042100/helpcow/niu.png) left bottom no-repeat;
	color:#1d465c
}

.nb_hd
h2{
	line-height:20px;
	font-size:16px
}

.nb_hd
h3{
	line-height:16px;
	font-size:12px
}

.nb_quest{
	float:left;
	width:840px
}

.nb_steps{
	position:relative;
	padding:18px
0 8px 46px;
	background:#a8cee5
}

.nb_step{
	position:relative;
	width:130px
}

.nb_step_circle{
	display:block;
	width:19px;
	height:19px;
	margin:0
auto;
	padding:0
14px;
	background:#a8cee5
}

.nb_step_circle
.nb_icon{
	display:block;
	width:19px;
	height:19px;
	background:url(http://images.tuniucdn.com/img/2015005042100/helpcow/spirit.png) -145px -2px no-repeat
}

.nb_step_circle
.nb_icon_able{
	background-position:-145px -2px
}

.nb_step_line{
	position:absolute;
	left:83px;
	top:26px;
	width:672px;
	height:0;
	border-top:1px dashed #e5e7e8
}

.nb_step_arrow{
	position:absolute;
	left:58px;
	bottom:-8px;
	width:12px;
	height:6px;
	background:url(http://images.tuniucdn.com/img/2015005042100/helpcow/spirit.png) -35px -2px
}

.nb_step_two{
	left:262px
}

.nb_step_three{
	left:436px
}

.nb_step_four{
	left:596px
}

.nb_step_five{
	left:756px
}

.nb_step_tit{
	padding-top:4px;
	text-align:center;
	line-height:20px;
	font-size:12px;
	color:#e8e8e8
}

.nb_step_current{
	cursor:auto
}

.nb_step_current
.nb_step_circle{
	background-position:-2px -2px
}

.nb_step_current
.nb_step_tit{
	font-weight:bold;
	color:#fff;
	font-size:14px
}

.nb_step_1{
	margin-right:35px
}

.nb_step_2{
	margin-right:30px
}

.nb_step_3{
	margin-right:30px
}

.nb_step_4{
	margin-right:30px
}

.nb_step_0{
	margin-right:193px
}

.nb_step_zero{
	left:420px
}

.nb_pages{
	position:relative;
	height:633px;
	overflow:hidden;
	background:#fff
}

.nb_page{
	display:none;
	height:567px;
	padding:27px
47px 39px
}

.nb_page_hd{
	margin-bottom:12px;
	line-height:24px;
	font-size:20px;
	color:#333
}

.nb_page_hd
span{
	color:#f00
}

.nb_page_item{
	margin-bottom:15px;
	background:#fff
}

.nb_page_label{
	width:96px;
	padding-top:11px;
	line-height:18px;
	font-size:14px;
	color:#333
}

.nb_page_label
span{
	color:#f00
}

.nb_page_field{
	width:650px
}

.nb_page_item_single
.nb_page_field{
	width:100%
}

.nb_form_checkbox{
	overflow:hidden
}

.nb_form_checkbox
ul{
	margin:0
-4px -10px
}

.nb_form_checkbox
li{
	position:relative;
	width:140px;
	height:68px;
	margin:0
3px 10px 4px;
	border:1px
solid #e6e6e6
}

.nb_form_checkbox
a{
	display:block;
	width:100%;
	height:100%;
	color:#333;
	line-height:68px;
	text-align:center;
	font-size:14px
}

.nb_form_checkbox
em{
	height:26px;
	line-height:26px;
	text-align:center;
	font-size:12px;
	color:#333
}

.nb_form_checkbox_icon{
	display:none;
	position:absolute;
	right:0;
	bottom:0;
	width:20px;
	height:20px;
	background:url(http://images.tuniucdn.com/img/2015005042100/helpcow/spirit.png) -35px -20px no-repeat
}

.nb_form_checkbox
.nb_form_checked{
	width:140px;
	height:66px;
	border:2px
solid #f80
}

.nb_form_checked
.nb_form_checkbox_icon{
	display:block
}

.nb_form_input{
	width:220px;
	height:33px;
	border:1px
solid #e6e6e6
}

.nb_form_input
input{
	width:210px;
	padding:5px;
	border:none;
	*border:0
none;
	margin:0;
	line-height:23px;
	font-size:14px
}

.nb_form_btn{
	position:relative;
	height:33px;
	border:1px
solid #e6e6e6;
	line-height:33px;
	font-size:14px
}

.nb_form_btn
a{
	display:block;
	width:33px;
	height:33px
}

.nb_form_btn
.nb_icon{
	width:11px;
	height:11px;
	margin:11px
0 0 10px;
	background:url(http://images.tuniucdn.com/img/2015005042100/helpcow/spirit.png) -35px -51px no-repeat;
	vertical-align:top
}

.nb_form_promote{
	line-height:22px;
	font-size:14px
}

.nb_form_promote
strong{
	color:#f80
}

.nb_form_promote
a{
	margin-right:13px;
	color:#999
}

.nb_form_selected{
	margin:0
7px 8px 0;
	padding:0
34px 0 10px
}

.nb_form_selected
a{
	position:absolute;
	right:0;
	top:0
}

.nb_form_selected
.nb_icon{
	margin-left:10px;
	background-position:-2px -50px
}

.nb_form_minus{
	margin-right:-1px
}

.nb_form_plus{
	margin-left:-1px
}

.nb_form_plus
.nb_icon{
	width:13px;
	height:13px;
	background-position:-18px -50px
}

.nb_form_field_number
.nb_form_input{
	width:90px
}

.nb_form_field_number
input{
	width:80px;
	text-align:center
}

.nb_page_item_startdate{
	position:relative;
	z-index:10
}

.nb_form_field_select
.nb_form_input{
	width:157px
}

.nb_form_field_select
input{
	width:147px
}

.nb_form_select_arrow{
	margin-left:-1px
}

.nb_form_select_arrow
.nb_icon{
	width:13px;
	height:11px;
	background-position:-51px -51px
}

.nb_form_select{
	position:relative
}

.nb_form_select_list{
	position:absolute;
	top:100%;
	left:0;
	width:158px;
	max-height:192px;
	margin-top:-1px;
	border:1px
solid #ddd;
	background:#fff;
	overflow:auto
}

.nb_form_select_list
li{
	border-bottom:1px solid #ddd;
	cursor:pointer;
	line-height:32px;
	font-size:14px;
	text-indent:5px;
	color:#333
}

.nb_form_select_list
li.last{
	border-bottom:none
}

.nb_page_item_term{
	position:relative;
	z-index:1;
	height:16px;
	line-height:16px
}

.nb_page_item_term_det{
	font-size:12px;
	color:#333
}

.nb_form_checkbox_2{
	width:16px;
	height:16px;
	margin-right:5px;
	border:none
}

.nb_form_checkbox_2
a{
	width:16px;
	height:16px;
	padding:0
}

.nb_form_checkbox_2
.nb_icon{
	width:16px;
	height:16px;
	margin:0;
	background-position:-75px -2px
}

.nb_form_checkbox_2
.nb_icon_select{
	background-position:-51px -2px
}

.nb_page_route
li{
	width:138px
}

.nb_page_route
.nb_form_checked{
	width:136px
}

.nb_page_budget
li{
	width:110px
}

.nb_page_budget
.nb_form_checked{
	width:108px
}

.nb_page_amount
.nb_page_field{
	width:auto
}

.nb_page_txt{
	margin:0
24px 0 10px;
	line-height:35px;
	font-size:12px;
	color:#333
}

.nb_page_txt
a{
	color:#2e9900
}

.nb_page_end
.nb_form_input{
	width:176px
}

.nb_page_end .nb_form_input
input{
	width:166px;
	color:#333
}

.nb_page_live .nb_form_checkbox
li{
	width:120px;
	height:95px
}

.nb_form_checkbox_box{
	display:none;
	position:absolute;
	z-index:2;
	left:0;
	top:0;
	width:116px;
	height:91px;
	border:2px
solid #f80;
	cursor:pointer
}

.nb_form_checked
.nb_form_checkbox_box{
	display:block
}

.nb_page_live li
a{
	line-height:95px
}

.nb_page_live .nb_form_checkbox .nb_form_checkbox_3,
.nb_page_live .nb_form_checkbox
.nb_form_checked{
	width:120px;
	border:none
}

.nb_page_live .nb_form_checkbox_3 img,
.nb_page_live .nb_form_checkbox_3
em{
	display:block;
	background:#f7f7f7
}

.nb_form_checkbox_3
.nb_form_checkbox_box{
	height:67px
}

.nb_form_checkbox_4
.nb_form_checkbox_box{
	height:91px
}

.nb_form_checkbox_3
.nb_form_checkbox_icon{
	bottom:26px
}

.nb_menu{
	position:relative;
	float:right;
	width:350px;
	height:702px
}

.nb_menu_bg{
	position:absolute;
	z-index:1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#3c3837;
	opacity:0.6;
	filter:alpha(opacity=60)
}

.nb_menu_arrow{
	position:absolute;
	z-index:2;
	left:0;
	top:50%;
	width:13px;
	height:23px;
	margin-top:-11px;
	background:url(http://images.tuniucdn.com/img/2015005042100/helpcow/spirit.png) -2px -20px no-repeat
}

.nb_menu_box{
	position:relative;
	z-index:2;
	padding-top:23px
}

.nb_menu_hd{
	padding-left:49px;
	font-size:20px;
	line-height:30px;
	color:#fff;
	font-weight:bold
}

.nb_menu_list{
	padding:37px
30px 0
}

.nb_menu_item{
	margin-bottom:8px
}

.nb_menu_item_tit{
	float:left;
	width:75px;
	text-align:right;
	font-size:14px;
	color:#aaa
}

.nb_menu_item_con{
	float:right;
	width:200px;
	margin:0
-5px -8px
}

.nb_menu_item_res{
	margin:0
5px 8px;
	padding:2px
5px;
	border:1px
solid #ccc;
	font-size:12px;
	line-height:16px;
	color:#fff;
	word-break:break-all;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px
}

.nb_menu_submit{
	padding:12px
0 0 130px
}

.nb_menu_submit
a{
	display:block;
	width:130px;
	height:40px;
	background:#ff9419;
	text-align:center;
	line-height:40px;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px
}

.nb_msg{
	width:auto;
	height:auto;
	background:#fffceb;
	border:1px
solid #ffdbb2;
	font-size:0;
	padding:20px
0 20px 27px
}

.nb_pr30{
	padding-right:30px
}

.nb_msg_hd{
	width:auto;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	padding-left:10px
}

.nb_msg_hd
.nb_text{
	color:#333;
	font-size:20px;
	height:30px;
	line-height:30px
}

.nb_msg_hd
.nb_intro{
	font-size:12px;
	color:#999;
	height:18px;
	line-height:18px
}

.nb_msg_icon{
	width:50px;
	height:48px;
	font-size:50px;
	color:#67c93c;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top
}

.nb_person_msg{
	width:auto;
	height:auto;
	padding:40px
0 0 147px
}

.nb_p_item{
	width:auto;
	height:54px;
	font-size:0
}

.nb_p_itemtip{
	width:auto;
	height:83px;
	font-size:0
}

.nb_no_reg{
	width:auto;
	height:48px;
	line-height:48px;
	font-size:12px;
	color:#000;
	padding-left:130px;
	display:none
}

.nb_p_itemtip
.nb_no_reg{
	display:block
}

.nb_label{
	width:95px;
	height:35px;
	line-height:35px;
	color:#333;
	font-size:14px;
	text-align:right;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	padding-right:25px
}

.nb_label
span{
	color:#f00;
	font-size:14px
}

.nb_p_input{
	width:248px;
	height:33px;
	line-height:33px;
	color:#666;
	font-size:14px;
	padding-left:10px;
	border:1px
solid #e6e6e6;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top
}

.nb_p_btn{
	width:183px;
	height:33px;
	line-height:33px;
	color:#666;
	font-size:14px;
	padding-left:10px;
	border:1px
solid #e6e6e6;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top
}

.nb_p_smsbtn{
	width:58px;
	height:33px;
	line-height:33px;
	background:#fff;
	border:1px
solid #e6e6e6;
	color:#333;
	font-size:12px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	margin-left:5px;
	text-align:center;
	outline:0
none;
	cursor:pointer
}

.nb_p_time{
	width:94px;
	height:26px;
	line-height:26px;
	background:#e5e5e5;
	color:#999;
	text-align:center;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	margin:5px
0 0 10px;
	font-size:12px
}

.nb_p_tips{
	width:auto;
	height:35px;
	line-height:18px;
	font-size:0;
	display:none
}

.nb_page_tips{
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	color:#f00;
	font-size:12px;
	padding-left:10px
}

.nb_p_submit{
	width:auto;
	height:60px;
	font-size:0
}

.nb_p_prevbtn{
	width:128px;
	height:38px;
	line-height:38px;
	color:#333;
	font-size:18px;
	background:#f9f9f9;
	border:1px
solid #e6e6e6;
	text-align:center;
	cursor:pointer;
	border-radius:3px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	margin-right:10px
}

.nb_p_nextbtn{
	background:#ff9419;
	color:#fff;
	font-weight:bold
}

.nb_unable{
	color:#bbb;
	font-weight:bold;
	background:#eee;
	cursor:not-allowed
}

.nb_noallow{
	cursor:not-allowed
}

.nb_linkable
a{
	color:#bbb;
	font-weight:bold;
	background:#eee
}

.nb_remarks{
	width:auto;
	height:auto;
	padding:0px
0 0 60px
}

.nb_rem_box{
	width:auto;
	height:160px;
	padding:100px
0 0;
	position:relative
}

.nb_rem_area{
	width:412px;
	height:102px;
	border:1px
solid #e6e6e6;
	resize:none;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	font-size:12px;
	color:#666;
	padding:8px;
	word-break:break-all
}

.nb_rem_tips{
	position:absolute;
	bottom:42px;
	right:45px;
	color:#999
}

.nb_rem_tips
.nb_remnum{
	color:#f00
}

.orange{
	color:#f80
}

.orange1{
	color:#f60
}

.green{
	color:#2e9900
}

.blue{
	color:#0006cc
}

.gray{
	color:#666
}

.gray1{
	color:#999
}

.bg-light-bule{
	background-color:#5094dc;
	color:#fff
}

.bg-light-green{
	background-color:#37c249;
	color:#fff
}

.f16{
	font-size:16px
}

.ml5{
	margin-left:5px
}

.ml10{
	margin-left:10px
}

.ml15{
	margin-left:15px
}

.ml30{
	margin-left:30px
}

.mt5{
	margin-top:5px
}

.mt10{
	margin-left:10px
}

.fl{
	float:left
}

.fr{
	float:right
}

.mod-a{
	width:548px;
	margin:0
auto;
	background-color:#fff;
	text-align:left
}

.mod-a
.list{
	padding:0
29px 20px 29px
}

.mod-a
.tip{
	padding:20px
0 0;
	line-height:24px;
	color:#333
}

.mod-a .item-a{
	margin-top:20px;
	border-top:1px solid #e6e6e6
}

.mod-a .item-a
.spe{
	border:1px
solid #ffdbb2;
	background:#fffceb;
	padding:10px
10px 15px;
	margin-top:10px
}

.mod-a .item-a .spe
p{
	color:#666
}

.mod-a .bg-light-bule{
	border-radius:3px;
	padding:2px
5px
}

.mod-tit{
	overflow:hidden;
	margin-top:20px;
	height:22px;
	line-height:22px
}

.mod-tit
.line{
	width:402px;
	height:1px;
	background:#e6e6e6;
	float:left;
	margin-top:11px;
	zoom:1;
	font-size:0
}

.mod-tit .bg-light-green{
	display:block;
	float:left;
	height:22px;
	width:87px;
	text-align:center;
	border-radius:10px
}

.nb_hide{
	display:none
}

.nb_rem_disabled{
	background:#e5e5e5;
	color:#999;
	cursor:not-allowed
}

.nb_grey{
	color:#999
}

.nb_mrt10{
	margin-top:10px
}

.nb_mrb0{
	margin-bottom:0
}

.nb_mrb8{
	margin-bottom:8px
}

.nb_mrb20{
	margin-bottom:20px
}

.nb_mrb30{
	margin-bottom:30px
}

.nb_mrt20{
	margin-top:20px
}

.nb_mrt30{
	margin-top:30px
}

.nb_bak{
	background:#fff
}

.nb_relative{
	position:relative
}

.nb_locked{
	color:#666
}

.nb_locked
.nb_form_selected{
	background:#e5e5e5
}

.nb_locked .nb_form_selected
span{
	color:#666
}

.nb_locked .nb_page_item .nb_form_input
input{
	background:#e5e5e5
}

.nb_cover{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:75%;
	opacity:0;
	filter:alpha(opacity=0);
	background:#fff;
	z-index:5;
	display:none
}

.nb_time_width{
	width:160px;
	height:35px
}

.nb_proceed{
	position:absolute;
	right:0;
	top:0;
	z-index:2;
	width:34px;
	height:34px
}

.nb_proceed
.nb_icon{
	background:url(http://images.tuniucdn.com/img/2015005042100/helpcow/spirit.png) -51px -51px no-repeat;
	width:13px;
	height:11px;
	position:absolute;
	top:10px;
	left:9px;
	z-index:3
}

.nb_more_ten{
	width:auto;
	height:30px;
	line-height:48px;
	font-size:12px;
	color:#f80;
	padding-left:100px;
	display:none
}

.nb_forIe{
	width:450px
}

.nb_frame{
	width:1000px;
	height:785px
}

.nb_frame
.nb_body{
	min-width:1000px
}

.nb_frame
.nb_wrap{
	width:1000px
}

.nb_frame
.nb_quest{
	width:725px
}

.nb_frame
.nb_menu{
	width:275px
}

.nb_frame
.nb_step_line{
	width:610px
}

.nb_frame
.nb_hd{
	background:url(http://images.tuniucdn.com/img/2015005042100/helpcow/niu.png) no-repeat 20px bottom;
	color:#3889b6;
	padding:39px
0 17px 111px
}

.nb_bread{
	width:auto;
	height:20px;
	line-height:44px;
	color:#fff;
	padding-left:10px
}

.nb_bread
a{
	font-size:12px;
	font-family:"宋体"
}

.nb_bread a:hover{
	text-decoration:underline;
	color:#f80
}

.nb_bread
a.nb_bread_white{
	color:#fff;
	padding-right:5px
}

.nb_bread
span.nb_bread_black{
	color:#333;
	padding-left:5px
}

.nb_frame
.nb_bread{
	display:none
}

.nb_frame
.nb_step_1{
	margin-right:55px
}

.nb_frame
.nb_step_2{
	margin-right:55px
}

.nb_frame
.nb_step_3{
	margin-right:55px
}

.nb_frame
.nb_step_4{
	margin-right:50px
}

.nb_frame
.nb_step_0{
	margin-right:200px
}

.nb_frame
.nb_menu_item_con{
	width:135px
}

.nb_frame
.nb_page_field{
	width:522px
}

.nb_frame .nb_page_route
li{
	width:122px
}

.nb_frame .nb_page_route
.nb_form_checked{
	width:122px
}

.nb_frame
.nb_page_txt{
	margin:0
12px 0 10px
}

.nb_frame
.nb_remarks{
	padding:0
}

.nb_frame
.nb_rem_box{
	padding:80px
0 0
}

.nb_frame
.nb_rem_area{
	width:454px
}

.nb_frame
.nb_page_field_remark{
	width:635px
}

.nb_frame .nb_page_amount
.nb_page_field{
	width:auto
}

.nb_frame
.nb_person_msg{
	padding:40px
0 0 90px
}

.nb_frame
.nb_menu_list{
	padding:27px
30px 0
}

.error-tip{
	text-align:center;
	font-size:16px;
	padding-top:35px;
	width:400px;
	font-family:microsoft yahei
}

.WdateDiv
.WotherDay{
	color:#666
}

.WdateDiv .invalidMenu, .WdateDiv
.WinvalidDay{
	color:#666;
	font-weight:normal
}

.index1000
.nb_body{
	min-width:990px
}

.index1000
.nb_wrap{
	width:990px
}

.index1000
.nb_menu{
	width:260px
}

.index1000
.nb_quest{
	width:730px
}

.index1000
.nb_step_line{
	width:587px
}

.index1000
.nb_step_0{
	margin-right:172px
}

.index1000
.nb_page_field{
	width:530px
}

.index1000 .nb_page_amount
.nb_page_field{
	width:auto
}

.index1000 .nb_form_field_number
.nb_form_input{
	width:85px
}

.index1000 .nb_page_route
li{
	width:125px
}

.index1000 .nb_page_route
.nb_form_checked{
	width:122px
}

.index1000
.nb_person_msg{
	padding:40px
0 0 100px
}

.index1000
.nb_step{
	width:108px
}

.index1000 .J_FourPage
.nb_page_field{
	width:618px
}

.index1000
.nb_menu_item_con{
	width:130px
}

.index1000
.nb_remarks{
	padding:0
0 0 30px
}

.index1000
.nb_menu_list{
	padding:17px
30px 0
}

.index1000
.nb_step_arrow{
	left:48px
}

.index1000 .top_area
.wrap{
	width:1000px
}

.index1200 .top_area
.wrap{
	width:1200px
}
